.swiper {
  max-height: 800px;
  max-width: 800px;
  border-radius: 10px;
  background: white;
}
*/ .swiper-slide {
  height: 700px;
  width: 200px;
  font-size: 18px;
  color: #e40d0d;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 60px;
}

.parallax-bg {
  position: absolute;
  background-image: url(https://images.pexels.com/photos/821652/pexels-photo-821652.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

.img-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Set the width to 100% */
  height: 100%; /* Set the height to 100%
    object-fit: cover; Maintain the aspect ratio and cover the container */
}

.hero-slide {
  height: 500px !important;
  display: flex;
  position: relative;
  overflow: hidden;
}
*/ .slide-image {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-slider .content {
  position: relative;
  z-index: 2;
}

.parallax-slider {
  position: relative;
  overflow: hidden;
  width: 65%;
  min-width: 300px;
  height: 500px;
  min-height: 400px;
}

.slider-container {
  display: flex;
  /* width: 100%; */
  transition: transform 0.5s ease;
}

.slide {
  flex: 0 0 100%;
  height: 100vw;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: opacity 0.5s ease;
  opacity: 0.5;
}

.slide.active {
  opacity: 1;
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}

example-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.next,
.prev {
  top: calc(50% - 20px);
  position: absolute;
  background: white;
  border-radius: 30px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  z-index: 2;
}

.next {
  right: 10px;
}

.prev {
  left: 10px;
  transform: scale(-1);
}

img {
  position: absolute;
  max-width: 100vw;
}

.refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

